<ul class="nav nav-tabs pt-3" id="myTabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="active-tab" data-toggle="tab" href="#active" role="tab" aria-controls="active"
      aria-selected="true">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="archive-tab" data-toggle="tab" href="#archive" role="tab" aria-controls="archive"
      aria-selected="false">Archive</a>
  </li>
</ul>

<div class="container-fluid mt-2 mb-2">
  <div class="row pl-4">
    <div class="form-group">
      <label for="fromDate">From:</label>
      <input type="date" class="form-control" id="fromDate" name="fromDate">
    </div>
    <div class="form-group pl-2">
      <label for="toDate">To:</label>
      <input type="date" class="form-control" id="toDate" name="toDate">
    </div>
    <div class="form-group pl-2">
      <label for="creadetBy">CreatedBy</label>
      <input type="text" class="form-control" id="createdBy" name="createdBy">
    </div>
    <div class="form-group pl-2">
      <label for="operationStatus">Operation status</label>
      <input type="text" class="form-control" id="operationStatus" name="OperationStatus">
    </div>
  </div>
  <div class="row pl-4">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenterPayments">
      Create new Payment request
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenterPayments" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">New payment request</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #newPaymentForm="ngForm" (ngSubmit)="saveNewPaymentRequest(newPaymentForm)">
              <div class="form-group text-left">
                <label for="purpose">Purpose</label>
                <input type="text" name="purpose" class="form-control" id="purspose"
                  [(ngModel)]="newPaymentRequest.purpose" />
              </div>
              <div class="form-group text-left">
                <label for="dueDate">Due date</label>
                <input type="date" name="dueDate" class="form-control" id="dueDate"
                  [(ngModel)]="newPaymentRequest.dueDate" />
              </div>
              <div class="form-group text-left">
                <label for="totalSum">Total sum to pay</label>
                <input type="text" name="totalSum" class="form-control" id="totalSum"
                  [(ngModel)]="newPaymentRequest.totalSum" />
              </div>
              <div class="form-group text-left">
                <label for="houseIds">Select Houses</label>
                <select multiple name="houseIds" class="form-control" id="houseIds"
                  [(ngModel)]="newPaymentRequest.houseIds">
                  <option *ngFor="let house of houses" [value]="house.id">{{house.streetName}} {{house.houseNumber}}
                  </option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary mr-2" (click)="closeModal('exampleModalCenterPayments')">
                Create payment request
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="active" role="tabpanel" aria-labelledby="active-tab">
    <div class="container-fluid background">
      <div class="container-fluid" id="main-container">
        <div class="row">
          <div *ngFor="let paymentRequest of paymentRequests" class="col-md-12 col-xl-15 mt-2">
            <div class="card m-b-30">
              <div class="row pl-3 pt-2">
                <div class="paymentRequestInfoStyles" style="width: 3%;">
                  <p>{{paymentRequest.id}}</p>
                </div>
                <div class="paymentRequestInfoStyles" style="width: 23%;">
                  <p>{{paymentRequest.purpose}}</p>
                </div>
                <div class="paymentRequestInfoStyles" style="width: 12%;">
                  <p>{{paymentRequest.dueDate}}</p>
                </div>
                <div class="paymentRequestInfoStyles" style="width: 8%;">
                  <p>{{paymentRequest.totalSum}}</p>
                </div>
                <div class="paymentRequestInfoStyles" style="width: 13%;">
                  <p>{{paymentRequest.operationStatus}}</p>
                </div>
                <div class="paymentRequestInfoStyles" style="width: 17%;">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    List of houses
                  </button>
                  <div class="dropdown-menu">
                    <div class="row pl-3" *ngFor="let housePayment of paymentRequest.housePayments">
                      <p>{{housePayment.house.streetName}} {{housePayment.house.houseNumber}}, {{housePayment.amount}}
                        Eur. Payment status: </p>
                      <div class="square-form" [ngStyle]="{'background-color': housePayment.isPaid ? 'green' : 'red'}">
                      </div>
                      <button type="button" class="btn btn-success btn-sm pay-button"
                        *ngIf="paymentRequest.operationStatus === 'ACTIVE' && !housePayment.isPaid"
                        (click)="payHousePayment(housePayment.id)">Pay</button>
                    </div>
                  </div>
                 
                </div>
                <div class="paymentRequestInfoStyles" style="width: 14%">
                  <div class="progress" style="width: 100%;">
                    <div class="progress-bar" role="progressbar"
                      [style.width.%]="percentageCalculator(paymentRequest.housePayments)" aria-valuenow="25"
                      aria-valuemin="0" aria-valuemax="100">{{percentageCalculator(paymentRequest.housePayments)}}%
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <button type="button" class="btn btn-warning btn-sm mr-2"
                  *ngIf="paymentRequest.operationStatus === 'CREATION'">Edit</button>
                <button type="button" class="btn btn-danger btn-sm mr-2"
                  *ngIf="paymentRequest.operationStatus === 'CREATION'"
                  (click)="deletePaymentRequest(paymentRequest.id)">Delete</button>
                <button type="button" class="btn btn-success btn-sm mr-2"
                  *ngIf="paymentRequest.operationStatus === 'CREATION'"
                  (click)="submitPaymentRequest(paymentRequest.id)">Submit</button>
                <button type="button" class="btn btn-success btn-sm mr-2"
                  *ngIf="percentageCalculator(paymentRequest.housePayments) === 100 && paymentRequest.operationStatus === 'ACTIVE'"
                  (click)="archivePaymentRequest(paymentRequest.id)">Archive</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="tab-pane fade" id="archive" role="tabpanel" aria-labelledby="archive-tab">
    <!-- Content for the Archive tab goes here -->
    <h3>Archive Tab Content</h3>
    <p>This is the content for the Archive tab.</p>
  </div>
</div>