<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="#">
      <img src="../../assets/logo2-removebg-preview.png" alt="Logo" class="logo-img pt-2">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a href="/dashboard" class="notification-icon"><i class="fas fa-bell"></i></a>
        </li>
      </ul>
    </div>
  </nav>