<div class="container-fluid">
    <div class="row mb-2">
        <div class="width100 backgroundWhite" style="height: 40px; margin-top: 10px; ">
            <h3>Payment request creation form</h3>
        </div>
    </div>
    <div class="col-md-8 col-sm-8">
        <div class="row">
            <div class="width100 backgroundWhite">
                <form #newPaymentForm="ngForm" (ngSubmit)="saveNewPaymentRequest(newPaymentForm)">
                    <div class="row pl-4">
                        <div class="form-group" style="width: 97%">
                            <label for="purpose">Purpose</label>
                            <input type="text" name="purpose" class="form-control" id="purspose"
                                [(ngModel)]="newPaymentRequest.purpose" />
                        </div>
                    </div>
                    <div class="row pl-4">
                        <div class="form-group" style="width: 46%; margin-right: 5%;">
                            <label for="dueDate">Due date</label>
                            <input type="date" name="dueDate" class="form-control" id="dueDate"
                                [(ngModel)]="newPaymentRequest.dueDate" />
                        </div>
                        <div class="form-group" style="width: 46%;">
                            <label for="totalSum">Total sum to pay</label>
                            <input type="text" name="totalSum" class="form-control" id="totalSum"
                                [(ngModel)]="newPaymentRequest.totalSum" />
                        </div>
                    </div>
                    <div class="row pl-2 width100">
                        <div class="col-md-6 col-sm-6 width100">
                            <div class="form-group width100">
                                <label>Select Houses</label>
                                <input type="text" [(ngModel)]="searchTermForSelecting" (keyup)="updateFilteredHouses()"
                                    placeholder="Search by street name" class="form-control mb-3" name="streetName">
                                <div class="scrollTableSettings">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Street</th>
                                                <th>House number</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="first">
                                            <tr *ngFor="let house of filteredUnselectedHouses">
                                                <td>{{ house.id }}</td>
                                                <td>{{ house.streetName }}</td>
                                                <td>{{ house.houseNumber }}</td>
                                                <td><button type="button" class="btn btn-success"
                                                        (click)="selectHouse(house)">Add</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6" style="padding-left: 3%;">
                            <label>Selected Houses</label>
                            <input type="text" [(ngModel)]="searchTermForSelected" (keyup)="updateSelectedHouses()"
                                placeholder="Search by street name" class="form-control mb-3" name="streetName">
                            <div class="scrollTableSettings">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Street</th>
                                            <th>House number</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="second">
                                        <tr *ngFor="let house of filterSelectedHouses">
                                            <td>{{ house.id }}</td>
                                            <td>{{ house.streetName }}</td>
                                            <td>{{ house.houseNumber }}</td>
                                            <td><button type="button" class="btn btn-warning"
                                                    (click)="removeFromSelected(house)">Remove</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="row pl-4">
                        <button type="submit" class="btn btn-primary mr-2">
                            Create payment request
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-6">

    </div>

    <div class="row"></div>
</div>