<div class="container-fluid background">
    <h2 class="text-center mb-0 pt-5">Houses</h2>
    <div class="container text-center">
        <button *ngIf="isAdmin" type="button" class="btn btn-success addButton" data-toggle="modal" data-target="#exampleModalCenter3">
            Add new
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">New house details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form #newHouseForm="ngForm" (ngSubmit)="saveNewHouse(newHouseForm)">
                            <div class="form-group text-left">
                                <label for="streetName">Street name</label>
                                <input type="text" name="streetName" class="form-control" id="streetName"
                                    [(ngModel)]="newHouse.streetName" />
                            </div>
                            <div class="form-group text-left">
                                <label for="houseNumber">House number</label>
                                <input type="text" name="houseNumber" class="form-control" id="houseNumber"
                                    [(ngModel)]="newHouse.houseNumber" />
                            </div>
                            <button type="submit" class="btn btn-primary mr-2" (click)="closeModal('exampleModalCenter3')">
                                Save changes
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="main-container">
        <div class="row">
            <div *ngFor="let house of houses" class="col-md-6 col-xl-3 mt-2">
                <div class="card m-b-30">
                    <div class="card-body row">
                        <div class="col-6 card-title align-self-center mb-0">
                            <h6>{{house.id}}</h6>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Street name: {{house?.streetName}}</li>
                        <li class="list-group-item">House number: {{house?.houseNumber}}</li>
                        <li class="list-group-item">Owner: {{house?.user?.firstName}} {{house?.user?.lastName}} {{house?.user?.phoneNumber}}</li>
                    </ul>
                    <div class="card-body">
                        <div class="float-right btn-group btn-group-sm">
                            <button *ngIf="isAdmin" class="btn btn-danger mr-2" (click)="deleteHouse(house)">Delete</button>
                            <button *ngIf="isAdmin" type="button" class="btn btn-warning" data-toggle="modal"
                                [attr.data-target]="'#exampleModal-' + house.id">
                                Edit
                            </button>
                            <div class="modal fade" [id]="'exampleModal-' + house.id" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Edit house</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form #editHouseForm="ngForm" (ngSubmit)="saveEditedHouse(editHouseForm)">
                                                <input type="hidden" name="id" id="id" [(ngModel)]="house.id" />
                                                <div class="form-group text-left">
                                                    <label for="streetName">Street name</label>
                                                    <input type="text" name="streetName" class="form-control"
                                                        id="streetName" [(ngModel)]="house.streetName" />
                                                </div>
                                                <div class="form-group text-left">
                                                    <label for="houseNumber">House number</label>
                                                    <input type="text" name="houseNumber" class="form-control"
                                                        id="houseNumber" [(ngModel)]="house.houseNumber" />
                                                </div>
                                                <button type="submit" class="btn btn-primary mr-2" (click)="closeModal('exampleModal-' + house.id)">
                                                    Save changes
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>