.landingImage{
    width: 100%;
}

/* .footerStyles{
    height: 5vh;
    background-color: rgb(52, 58, 64);
    color: whitesmoke;
}
.footerParagraph{
    color: whitesmoke;
} */

.h3Design{
    text-align: center;
}