<app-navbar></app-navbar>

<div>
    <img src="../../assets/kvartalas2.png" class="img-fluid landingImage" alt="">
</div>

<div class="container">
    <!-- <h1 class="mt-5 mb-5">Sveiki atvykę</h1> -->
    <h3 class="h3Design mb-5 mt-5">Mūsų teikiamos paslaugos:</h3>
</div>

<div class="container mb-5">
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="../../assets/apskaita.png" alt="Generic placeholder image" width="140"
                height="140">
            <h2>Mokesčių apskaita ir išlaidų kontrolė</h2>
            <p>Mūsų sukaupta patirtis leidžia teikti lanksčias ir kokybiškas apskaitos valdymo paslaugas. Suteiksime
                konsultacijas ir sistemos plėtimo galimybes prisitaikant prie jūsų poreikių. </p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="../../assets/kontaktai.png" alt="Generic placeholder image" width="140"
                height="140">
            <h2>Kontaktų duomenų bazė ir infrastruktūra</h2>
            <p>Saugome ir leidžiame valdyti su jūsų valdoma infrastruktūra susijusius duomenis, vartotojų ir kitą jums aktualią
                informaciją.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="../../assets/apklausa2.png" alt="Generic placeholder image" width="140"
                height="140">
            <h2>Naujienų skelbimas ir apklausų atlikimas</h2>
            <p>Su mūsų įrankiu galėsite atlikti apklausas rūpimais klausimais, skelbti naujienas, dalintis žiniomis ir naudingais kontaktais</p>

        </div><!-- /.col-lg-4 -->
    </div>

</div>

<app-footer></app-footer>